{% extends "home.html" %}
{% block main-content %}
    <div class="container-profile">
        <h2>User Profile</h2>
        <p><strong>First Name:</strong> {{ profile.first_name }}</p>
        <p><strong>Last Name:</strong> {{ profile.last_name }}</p>
        <p><strong>Mobile Number:</strong> {{ profile.mobile_number }}</p>
        <p><strong>Address:</strong> {{ profile.address }}</p>
        <p><strong>Branch:</strong> {{ profile.branch }}</p>
        <p><strong>Date of Birth:</strong> {{ profile.dob }}</p>
    </div>
{% endblock main-content %}